* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.footer {
  padding: 20px;
  background-color: wheat;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: black;
  color: #ff5722;
  position: relative;
}

.logos {
  display: flex;
  gap: 25px;
}
.img1 {
  height: 30px;
  background-color: white !important;
  border-radius: 50%;
}
.img2 {
  height: 30px;
  border-radius: 50%;
}
.img3 {
  height: 30px;
  border-radius: 50%;
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#email {
  margin-left: 10px;
}

.my-btn {
  background-color: #ff5722;
  width: 100px;
  margin-left: 10px;
}
.my-btn1 {
  background-color: #ff5722;
  width: 100px;
}

.test {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
