.container {
    max-width: 800px;
    margin: 0;
    padding: 20px;
    
  }
  h1, h2 {
    color: #0e0d0d;
  }
  .space-image {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    margin-top: 10px;
  }
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  .btn:hover {
    background: #0056b3;
  }