<div class="background">
  <div class="container mx-auto">
    <div class="container1">
      <div class="video">
        <iframe
          src="https://cdn.pixabay.com/video/2023/01/27/148208-793717949_large.mp4"
          height="400"
          frameborder="0"
          allowfullscreen
        >
        </iframe>
        <div>
          <h4>Leg press</h4>
          <p class="my-4 my-text">
            The leg press is more than just a workout—it’s a test of strength,
            endurance, and mental toughness. Load up the weight, plant your feet
            firmly, and push with power. Feel the burn in your quads,
            hamstrings, and glutes as you drive through each rep. No shortcuts,
            no excuses—just pure effort. Stay focused, control your movement,
            and push past your limits. Strong legs build a strong foundation for
            everything you do. Keep pressing forward!
          </p>
        </div>
      </div>

      <div class="video">
        <div>
          <h4>Dumbbells</h4>
          <p class="my-4 my-text">
            Dumbbells might look simple, but they’re one of the most powerful
            tools in your workout arsenal. Whether you're pressing, curling, or
            lunging, every rep brings you closer to your goals. The key is
            consistency—stay focused, challenge yourself, and control each
            movement. Strength isn’t built overnight, but with every lift,
            you’re forging a stronger, more powerful version of yourself. Pick
            up those dumbbells and put in the work!
          </p>
        </div>

        <iframe
          src="https://media.istockphoto.com/id/2093566355/video/young-man-lifting-weight-in-gym.mp4?s=mp4-640x640-is&k=20&c=n8rVqMNKQDW5VxBbAFfXSmcQmmvVArFturwxQOe7BGg="
          height="400"
          frameborder="0"
          allowfullscreen
        >
        </iframe>
      </div>
    </div>
  </div>
</div>
