
<!-- src/app/app.component.html -->
<div class="video1">
    <div class="countainer1">
        <p>Embedded Content Example</p>
        <iframe
            src="https://cdn.pixabay.com/video/2023/01/27/148208-793717949_large.mp4"
            width="600"
            height="400"
            frameborder="0"
            allowfullscreen>
        </iframe>
    
    </div>
  
    <div class="video2">
        <p>Embedded Content Example</p>
        <iframe
            src="https://media.istockphoto.com/id/2093566355/video/young-man-lifting-weight-in-gym.mp4?s=mp4-640x640-is&k=20&c=n8rVqMNKQDW5VxBbAFfXSmcQmmvVArFturwxQOe7BGg="
            width="600"
            height="400"
            frameborder="0"
            allowfullscreen>
        </iframe>
    </div>
    
