* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.video {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  
  width: 100%;
 
  p {
    text-align: center;
  }
  & > * {
    flex: 1;
  }
}

@media (width < 600px) {
  .video {
    flex-direction: column;
    align-items: center;
  }
  .video:nth-child(2) iframe {
    order: -1;
  }
}

h4{
  text-align: center;
}